body {
            width: 65%;
            height: auto;
            background: white;
            margin:auto;
            margin-top: 5px;
            padding-bottom: 5px;
        }

        p {
            text-align: center;
            font-size: x-large;
            margin:auto;
    
        }
